<div class="main-content">
    <div class="header-content">
        <div class="emp-detail-text">
            Employee Details
        </div>
        <a class="add-button" routerLink="/addemployee"><img src="../assets/icons/add-24px.svg" alt="Icon">Add User</a>
    </div>
    <div class="table-main">
        <table class="table" id="display">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Start Date</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td><img class="profile" alt="" src="../assets/profile-images/Ellipse -9.png"></td>
                <td>Sanjay Pandit</td>
                <td>Male</td>
                <td>
                    <div class="dept-label">HR</div>
                    <div class="dept-label">Finance</div>
                </td >
                <td>300000</td>
                <td>1 Nov 2020</td>
                <td>
                    <img id="1" alt="delete" src="../assets/icons/delete-black-18dp.svg" >
                    <img id="1" alt="Edit" src="../assets/icons/create-black-18dp.svg">
                </td>
            </tr>
        </table>
    </div>
</div>
