<div class="form-content">
    <form class="form" [formGroup]="employeeFormGroup" (ngSubmit)="onSubmit()">
        <div class="form-head ">Employee Payroll Form</div>
        <!------Input Fullname------->
        <div class="row-content">
            <mat-label class="label text" for="name">FullName</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
                <input class="input" matInput placeholder="Your name" ngDefaultControl formControlName="empName">
                <mat-error *ngIf="checkError('empName', 'required')">Name is required</mat-error>
                <mat-error *ngIf="checkError('empName', 'pattern')">Name should start with upper case and should have
                    minimum of 3 characters</mat-error>
            </mat-form-field>
        </div>
        <!------Input ProfilePic------->
        <div class="row-content">
            <mat-label class="label text" for="profile">Profile Image </mat-label>
            <div class="profile-radio-content">
                <mat-radio-group ngDefaultControl formControlName="profilePic">
                    <mat-radio-button name="profile" color="primary" value="../assets/profile-images/Ellipse -3.png">
                        <img class="profile" id='image1' src="../assets/profile-images/Ellipse -3.png">
                    </mat-radio-button>
                    <mat-radio-button name="profile" color="primary" value="../assets/profile-images/Ellipse 1.png">
                        <img class="profile" id='image2' src="../assets/profile-images/Ellipse 1.png">
                    </mat-radio-button>
                    <mat-radio-button name="profile" color="primary" value="../assets/profile-images/Ellipse -8.png">
                        <img class="profile" id='image3' src="../assets/profile-images/Ellipse -8.png">
                    </mat-radio-button>
                    <mat-radio-button name="profile" color="primary" value="../assets/profile-images/Ellipse -7.png">
                        <img class="profile" id='image4' src="../assets/profile-images/Ellipse -7.png">
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <!------Input Gender------->
        <div class="row-content">
            <mat-label class="label text" for="gender">Gender</mat-label>
            <div>
                <mat-radio-group ngDefaultControl formControlName="gender">
                    <mat-radio-button name="gender" color="primary" value="Male">
                        <mat-label class="text" for="male">Male</mat-label>
                    </mat-radio-button>
                    <mat-radio-button name="gender" color="primary" value="Female">
                        <mat-label class="text" for="female">Female</mat-label>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <!------Input Department------->
        <div class="row-content">
            <label class="label text" for="depatment">Department</label>
            <div *ngFor="let department of departments">
              <mat-checkbox #checkbox class="checkbox" type="checkbox" color="primary" [value]="department.value"
                (change)="onCheckboxChange($event)" [checked]='department.checked'>
                <label class="text">{{department.name}}</label>
              </mat-checkbox>
            </div>
          </div>
        <!------Input Salary------->
        <div class="row-content">
            <mat-label class="label text" for="salary">Choose your Salary </mat-label>
            <mat-slider thumbLabel [displayWith]="formatLabel" #salaryOutput (change)="updateSetting($event)"
                color="primary" tickInterval="1000" aria-label="units" class="salary-input" name="salary" min="10000"
                max="4000000" step="1000" [value]="salaryOutput" formControlName="salary">
            </mat-slider>
        </div>

        <!------Input Date------->
        <div class="row-content">
            <mat-label class="label text" for="startDate"> Start Date </mat-label>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="startDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <!------Input Note------->
        <div class="row-content">
            <mat-label class="label text" for="note">Notes</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
                <textarea matInput class="input" style="height:60px" ngDefaultControl formControlName="note"></textarea>
                <mat-error *ngIf="checkError('note', 'required')">Note is required</mat-error>
            </mat-form-field>
        </div>
        <!------Input Buttons------->
        <div class="buttonParent">
            <a routerLink="">
                <button mat-raised-button color="accent" class="resetButton button cancelButton">Cancel</button>
            </a>
            <div class="submit-reset" >
                
                <button mat-raised-button color="accent" type="submit" class="button submitButton" id="submitButton" >Submit</button>
            
                <button mat-raised-button color="accent" type="reset" class="resetButton button">Reset</button>
            </div>
        </div>

    </form>
</div>